#home-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #000
}
.mictlan-home {
    width: 100%;
    background: #000;
    color: #dfdad3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mictlan-home-nav {
    position: fixed;
    z-index: 30;
    color: #a5a5a5;
    font-weight: 600;
    font-size: .16rem;
    margin-left: var(--main-margin);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.top-bar {
    position: relative;
    top: .79rem;
}
.mictlan-home-nav .top-bar .top-bar-item {
    line-height: 0.46rem;
    cursor: pointer;
    font-size: 0.26rem;
}
.mictlan-home .mc-home-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.mictlan-home .mc-home-1 .mc-home-bg video {
    width: 100%;
    height: 100vh;
}
@media screen and (max-width: 1280px) {
    .mictlan-home .mc-home-1 .mc-home-bg video {
        width: 100%;
        height: unset;
    }
}
.mictlan-home .mc-home-video {
    position: absolute;
    bottom: 1rem;
    right: 3.168rem;
    text-align: center;
    font-size: 0;
}
.mictlan-home .mc-home-video .mc-logo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    width: 2.06rem;
    height: 2.34rem;
    margin-bottom: .3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
.mictlan-home .mc-home-video .mc-home-video-title {
    color: #a58f5e;
    font-size: .24rem;
    font-style: oblique;
    letter-spacing: .02rem;
    font-weight: 600;
    width: 100%;
    padding-bottom: .08rem;

}
.mc-home-1-video {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mictlan-home .mc-home-video .home-1-video-text {
    color: #a5a5a5;
    font-size: .24rem;
    text-transform: uppercase;
    letter-spacing: .01rem;
    font-weight: 600;
    width: 100%;
    padding-bottom: .24rem;
}
.mc-home-1-video .home-1-video-container {
    position: relative;
    border: .01rem solid #313131;
    -webkit-box-shadow: rgb(51 49 47 / 50%) 0 0 1.2rem 0.36rem;
    box-shadow: 0 0 1.2rem 0.36rem rgb(51 49 47 / 50%);
    cursor: pointer;
    width: 5.6rem;
    height: 3.14rem;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.mictlan-home .mc-home-video video {
    width: 100%;
}
.mictlan-home .mc-home-video .follow-us-btn {
    padding-top: .4rem;
    text-transform: uppercase;
}

.gs-b1-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.8rem;
    height: .45rem;
}
.gs-b1-button-black .gs-b1-button-container {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    color: #fff;
}
.gs-b1-button .gs-b1-button-container {
    width: 100%;
    height: 100%;
    font-size: .22rem;
    letter-spacing: .022rem;
    text-indent: .022rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
    #home-container {
        overflow-y: auto;
    }
    .mictlan-home .mc-home-1 {
        width: 100%;
        height: 6.66667rem;
        background-image: url(https://www.heishenhua.com/img/MobileWeb/img_MbWeb_bg_title.png);
    }
    .mictlan-home .mc-home-1 .mc-home-bg video {
        display: none;
    }
    .mictlan-home .mc-home-video .mc-logo {
        margin-bottom: 1.4rem;
        width: 1.82667rem;
        height: 1.02667rem;
    }
    .mictlan-home .mc-home-video {
        top: .78rem;
        bottom: auto;
        left: 0;
        right: 0;
    }
    .mictlan-home .mc-home-video .home-1-wukong {
        margin-bottom: 1.4rem;
        width: 1.82667rem;
        height: 1.02667rem;
    }
    .mictlan-home .mc-home-video .mc-home-video-title {
        color: #a58f5e;
        font-size: .12rem;
        letter-spacing: .04rem;
    }
    .mictlan-home .mc-home-video .home-1-video-text{
        color: #d4d4d4;
        font-size: .10667rem;
    }
    .mc-home-1-video .home-1-video-container {
        -webkit-box-shadow: rgb(62 60 59 / 52%) 0 0 1.2rem 0.36rem;
        box-shadow: 0 0 1.2rem 0.36rem rgb(62 60 59 / 52%);
        width: 2.8rem;
        height: 1.57rem;
    }
    .mictlan-home .mc-home-video .follow-us-btn {
        padding-top: .2rem;
    }
    .gs-b1-button {
        width: 1.11333rem;
        height: .28rem;
    }
    .gs-b1-button .gs-b1-button-container {
        font-size: .11667rem;
        letter-spacing: .011667rem;
        text-indent: .011667rem;
    }
}